* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #272b30;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content:space-around;
    padding: 20px;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
}

header a:hover{
    color: #49acff;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

/* GRID DE JOGOS */
.games {
    padding: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

form input{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 10px
}

/* CARD */
.games a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    text-decoration: none;
}


/* IMAGEM */
.games a img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

/* HOVER */
.games a:hover img {
    transform: scale(1.1);
}

.pagination {
    display: flex;
    justify-content: center;
    color: white;
    gap: 10px;
    margin-bottom: 40px;
}

.pagination a{
    text-decoration: none;
    color: white;
}

.pagination a:hover {
    color: #49acff;
}